.card-style {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.card-style img {
  border-radius: 10px;
  width: 230px;
  margin: 0 auto;
  max-height: 250px;
  padding: 20px;
}
#search-result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
